<!DOCTYPE html>
    <html>
    <head>
        <title>Boilerplate HBS</title>
        {{{styles}}}
        <script nonce={{{nonce}}} src={{lookup manifest 'vendor.js'}} defer></script>
        <script nonce={{{nonce}}} src={{lookup manifest 'main.js'}} defer></script>

        <script nonce={{{nonce}}}>window.manifest = {{{manifestStr}}}</script>
        <script nonce={{{nonce}}}>window.INITIAL_STATE = {{{data}}};</script>
    </head>

    <body>
        <div id="app">{{{markup}}}</div>
    </body>
</html>